/* General */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



/* Pagination */  
.pgr > td {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.125rem;

    span, a {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        background-color: #6b7280;
    }

    a {
        transition-property: color background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
            background-color: #9ca3af;
        }
    }

}

.pgr {
    width: 100%;
    grid-column: span 3 / span 3;
}



/* Header */
#header {
    /* Menu Icons */
    #home a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=wFfu6zXx15Yk&format=png");
    }

    #board a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=D8iAH4JJtOqg&format=png");
    }

    #test a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=yXOHowNYbgM5&format=png");
    }

    #dok a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=Y89S8s5nZH6D&format=png");
    }

    #dates a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=WpQIVxfhhzqt&format=png");
    }

    #works a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=jZYLtbMSsRTi&format=png");
    }

    #stats a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=QDgOnr6UAOmg&format=png");
    }

    #grades a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=tPzpPrOdyoXr&format=png");
    }

    #accout a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=5HULZmbCmt0r&format=png");
    }

    #certificate a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=wl02Vd5WH3QG&format=png");
    }

    #video a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=9a46bTk3awwI&format=png");
    }

    #forum a:first-of-type {
        background-image: url("https://img.icons8.com/?size=32&id=pj6wp6z7skPd&format=png");
    }
    
    .logo img {
        content: url("https://raw.githubusercontent.com/safeboot/dlwms-ui-fix/refs/heads/main/assets/logo.png");
    }
    
    #menu {
        height: auto;
        background: none;
        background-color: #404040;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    
    #menu > * {
        width: 6rem;
        height: 6rem;
        background: none;
        display: flex;
        flex-shrink: 0;
        
        &:not(.selected) a {
            color: #FFFFFF;
        }
        
        &.selected a {
            color: #bfdbfe;
        }
        
        a:first-of-type {
            width: 6rem;
            height: 6rem;
            padding: 0;
            padding-top: 3.5rem;
            transition-property: color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 300ms;
            
            &:hover {
                color: #bfdbfe;
            }
        }
        
        a:not(:first-of-type) {
            display: none;
        }
    }
        
    #menu .selected {
        border-bottom: 4px solid #60a5fa;
    }
}



/* Main Content */
.wrapper {
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    #content-wrapper {
        width: 100%;
        max-width: 768px;
        float: none;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        
        .form-head:first-of-type {
            display: none;
            width: 100% !important;
            height: auto !important;
            
            #Div1 {
                display: none;
            }
        }
        
        #UpdatePanel1 .form-head {
            display: block !important;
            margin-bottom: 1rem;
            padding: 1rem !important;
            border-radius: 0.5rem;
            
            .blocktitle {
                display: none;
            }
            
            hr {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            
            .student-details {
                height: auto !important;
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 0.5rem;
                
                li {
                    width: 100%;
                    margin-bottom: 0;
                    
                    select {
                        position: static;
                        width: 100% !important;
                        height: auto !important;
                        padding: 0.5rem;
                    }
                }
            }
            
            a {
                color: #3b82f6;
                flex-shrink: 0;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                
                &:hover {
                    color: #60a5fa;
                    text-decoration: none;
                }
            }
            
            br {
                margin-bottom: 0.5rem;
            }
        }
        
        .form-head-fixed {
            padding: 1rem;
            background: url("https://www.fit.ba/student/css/img/bg-form.png") top left repeat;
            border-radius: 0.5rem;
            
            .blocktitle {
                display: none;
            }
            
            .clear {
                display: none;
            }
            
            .student-details {
                height: auto !important;
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 0.5rem;
                
                li {
                    width: 100%;
                    height: auto !important;
                    margin-bottom: 0;
                    display: grid;
                    grid-template-columns: repeat(8, minmax(0, 1fr));
                    
                    p {
                        margin: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        padding: 0;
                        grid-column: span 2 / span 2;
                    }
                    
                    div {
                        position: static;
                        width: auto !important;
                        height: auto !important;
                        margin: 0 !important;
                        margin-right: 0.5rem !important;
                    }
                    
                    .eight-col, .seven-col, div.two-col, .six-col {
                        grid-column: span 3 / span 3;
                    }
                    
                    .input-box {
                        width: 100%;
                        margin-right: 0 !important;
                    }
                    
                    * > select, * > input {
                        position: static;
                        width: 100% !important;
                        height: auto !important;
                        padding: 0.5rem;
                        margin: 0;
                    }
                }
                
                li.four-col {
                    height: auto !important;
                    padding-left: 0 !important;
                }
                
                li.form-actions {
                    display: flex;
                    justify-content: flex-end;
                
                    hr {
                        display: none;
                    }
                    
                    #btnTrazi {
                        background: rgb(96,165,250);
                        background: linear-gradient(180deg, rgba(96,165,250,1) 0%, rgba(59,130,246,1) 100%);
                        border: none;
                        color: white;
                        border-radius: 0.25rem !important;
                        box-shadow: none;
                    }
                }
            }
            
            a {
                color: #3b82f6;
                flex-shrink: 0;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                
                &:hover {
                    color: #60a5fa;
                    text-decoration: none;
                }
            }
            
            br {
                margin-bottom: 0.5rem;
            }
        }
        
        .blocktitle {
            margin-top: -20px;
            margin-bottom: 0 !important;
            border-bottom: solid 1px #a3a3a3;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            
            h1 {
                border: 0;
                margin-bottom: 0;
            }
            
            .aside {
                height: auto;
                color: #3b82f6;
                flex-shrink: 0;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                
                &:hover {
                    color: #60a5fa;
                    text-decoration: none;
                }
            }
        }
        
        table .newslist {
            /* News Icon */
            img[src*='1news'] {
                content: url("https://img.icons8.com/?size=32&id=W5To6Q3gjDiK&format=png");
            }
            
            /* Info Icon */
            img[src*='Info'] {
                content: url("https://img.icons8.com/?size=32&id=VQOfeAx5KWTK&format=png");
            }
            
            /* Calendar Icon */
            img[src*='3Calendar'] {
                content: url("https://img.icons8.com/?size=32&id=28WzaxCdZhVK&format=png");
            }
            
            /* Warning Icon */
            img[src*='4Alert'] {
                content: url("https://img.icons8.com/?size=32&id=hP6pCUyT8QGk&format=png");
            }
            
            li {
                background: none;
                border-bottom: solid 1px #d4d4d4;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                
                table {
                    span {
                        color: #737373;
                    }
                    
                    a:first-of-type {
                        color: #000000;
                        transition-property: color;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 300ms;

                        &:hover {
                            color: #404040;
                        }
                    }
                    
                    a:not(:first-of-type) {
                        color: #737373;
                        text-decoration: underline;
                        transition-property: color;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 300ms;
                        
                        &:hover {
                            color: #262626;
                        }
                    }
                }
            
                .abstract {
                    margin: 0 !important;
                }
            }
            
            li:not(:first-of-type) {
                padding-top: 1rem;
            }
        }
    }
    
    #sidebar {
        width: 100% !important;
        max-width: 768px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        .form-head, .charts {
            height: auto !important;
            margin: 0 !important;
            padding: 0.75rem;
            background-color: #f3f4f6 !important;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            
            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
            
            .input-box {
                position: static;
                width: 100% !important;
            }
            
            #Image1 {
                width: 1.5rem !important;
                height: 1.5rem !important;
                margin-left: 0 !important;
                border: none;
                object-fit: contain;
                content: url("https://raw.githubusercontent.com/safeboot/dlwms-ui-fix/refs/heads/main/assets/search.png");
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
        
        .sidebar-block {
            margin-bottom: 0;
            
            & > * > .blocktitle > .aside, #lbtnDownloadAll {
                height: auto;
                color: #3b82f6;
                flex-shrink: 0;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                
                &:hover {
                    color: #60a5fa;
                    text-decoration: none;
                }
            }
            
            #pnlUpozorenja {
                margin: 0 !important;
                
                div[id*='pnl'] {
                    background-color: #FFFFFF;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    overflow: hidden;
                    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                    
                    .quick-alerts .note {
                        background: #f3f4f6;
                        padding: 0 !important;
                        margin: 0;
                        border-radius: 0.25rem;
                        overflow: hidden;
                        
                        a {
                            background: none;
                            padding: 0.5rem;
                            margin: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                        
                            .icon, .ico-alert {
                                background: none;
                                content: url("https://img.icons8.com/?size=32&id=hP6pCUyT8QGk&format=png") !important;
                                width: auto;
                                height: 30px;
                                position: static;
                                flex-shrink: 0;
                            }
                            
                            .title {
                                height: auto;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            
            #pnlMaterijali {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                .blocktitle {
                    border-bottom: 2px solid #acc6d0;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    
                    h1 {
                        border-bottom: none;
                        margin-bottom: 0 !important;
                    }
                }
                
                .form-head {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
            
                    #lbtnDownloadAll {
                        width: max-content;
                        float: none !important;
                    }
                    
                }
                
                & > * #imgType[src*='file_pdf'] {
                    content: url("https://img.icons8.com/?size=32&id=aBrh3QHCPxYu&format=png");
                }
                
                & > * #imgType[src*='box_zip'], & > * #imgType[src*='box_rar'] {
                    content: url("https://img.icons8.com/?size=32&id=6sMVifFbJ3qc&format=png");
                }
                
                #gridMaterijali > tbody {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
                
                #gridMaterijali > * td {
                    width: auto !important;
                    
                    table {
                        width: 100%;
                        
                        & > * tr {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                        }
                        
                        & > * td:first-of-type {
                            width: 42px !important;
                            height: 42px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        & > * td:nth-of-type(2) {
                            padding-left: 0 !important;
                            width: 100%;
                            
                            a {
                                width: 100%;
                                display: block;
                                color: #172554;
                                flex-shrink: 0;
                                transition-property: color;
                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                transition-duration: 300ms;

                                &:hover {
                                    color: #1e40af;
                                    text-decoration: none;
                                }
                            }
                            
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            #pnlUspjeh {
                .charts .chart-label {
                    margin-bottom: 0.25rem;
                }
                
                .bar {
                    background: none;
                    background-color: #d1d5db;
                    margin-bottom: 0 0.5rem;
                    border-radius: 0.25rem !important;
                    overflow: hidden;
                    
                    &:first-of-type {
                        background-color: #ecfdf5;
                    }
                    
                    &:last-of-type {
                        background-color: #eff6ff;
                        margin-bottom: 0;
                    }
                    
                    img {
                        content: url("");
                        font-size: 0;
                        height: 13px !important;
                    }
                }
                
                .bar:first-of-type img {
                    background: rgb(81,185,127);
                    background: linear-gradient(90deg, rgba(81,185,127,1) 0%, rgba(105,218,119,1) 100%); 
                }
                
                .bar:last-of-type img {
                    background: rgb(81,105,185);
                    background: linear-gradient(90deg, rgba(81,105,185,1) 0%, rgba(105,180,218,1) 100%);  
                }
            }
        }
        
        .clear {
            display: none;
        }
    }
}

@media (min-width: 1100px) {
    #header #menu {
        justify-content: center;
    }
    
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    
    #sidebar {
        max-width: 14rem !important;
    }
    
    #gridMaterijali > tbody {
        display: table !important;
    }
    
    .form-head .student-details {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        gap: 1rem !important;
    }
}



/* Footer */
#footer {
    background-color: #404040;
    
    p {
        background-color: #404040;
        
        &:after {
            content: "XD";
        }
    }
    
    .fineprint:after {
        display: block;
        content: "Theme by safeboot.";
        font-weight: 600;
    }
}